<meta charset="utf-8">
<title>Björn Kaidel - {{ page.title }}</title>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto+Mono&display=swap" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="{{page.base}}assets/css/styles.css">
<link type="text/css" rel="stylesheet" href="{{page.base}}assets/css/noFloatToC.css" media="screen and (max-width: 1459px)">
<link type="text/css" rel="stylesheet" href="{{page.base}}assets/css/phone.css" media="screen and (max-width: 510px)">

<script src="{{page.base}}assets/javascript/script.js"></script>

<meta name="viewport" content="initial-scale=1">
<meta name="description" content="Website of Björn Kaidel - Computer Scientist">
<meta name="keywords" content="Björn Kaidel, Security, Cryptography, Computer Science">

<!-- ****** faviconit.com favicons ****** -->
<link rel="shortcut icon" href="{{page.base}}assets/favicon/favicon.ico">
<link rel="icon" sizes="16x16 32x32 64x64" href="{{page.base}}assets/favicon/favicon.ico">
<link rel="icon" type="image/png" sizes="196x196" href="{{page.base}}assets/favicon/favicon-192.png">
<link rel="icon" type="image/png" sizes="160x160" href="{{page.base}}assets/favicon/favicon-160.png">
<link rel="icon" type="image/png" sizes="96x96" href="{{page.base}}assets/favicon/favicon-96.png">
<link rel="icon" type="image/png" sizes="64x64" href="{{page.base}}assets/favicon/favicon-64.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{page.base}}assets/favicon/favicon-32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{page.base}}assets/favicon/favicon-16.png">
<link rel="apple-touch-icon" href="{{page.base}}assets/favicon/favicon-57.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{page.base}}assets/favicon/favicon-114.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{page.base}}assets/favicon/favicon-72.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{page.base}}assets/favicon/favicon-144.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{page.base}}assets/favicon/favicon-60.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{page.base}}assets/favicon/favicon-120.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{page.base}}assets/favicon/favicon-76.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{page.base}}assets/favicon/favicon-152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{page.base}}assets/favicon/favicon-180.png">
<meta name="msapplication-TileColor" content="#FFFFFF">
<meta name="msapplication-TileImage" content="{{page.base}}assets/favicon//favicon-144.png">
<meta name="msapplication-config" content="{{page.base}}assets/favicon//browserconfig.xml">
	<!-- ****** faviconit.com favicons ****** -->

<!-- Metatags for Facebook -->
<meta property="og:title" content="Björn Kaidel">
<meta property="og:url" content="https://bjoernkaidel.github.io">
<meta property="og:type" content="website">
<meta property="og:description" content="Website of Björn Kaidel - Computer Scientist">
<meta property="og:image" content="https:/bjoernkaidel.github.io/assets/favicon/favicon.png">
