
// site variables
$mainFonts: 'Open Sans', sans-serif;
$codeFonts: 'Roboto Mono', monospace;
$maxWidth: 1024px;
$sidePadding: 16px;
$topPadding: 25px;
$lineHeight: 1.5em;
$borderradius: 10px;

// colors
$darkblue: #15152e;
$selected-darkblue: #272752;
$linkblue: #15158a;
$terminalBlack: #23252e;
$terminalRed: #ec0005;
$terminalBlue: #277cf8;

// padding/size variables
$navHeight: 66px;
$paragraphBottomPad: 15px;

// -------------- GENERAL -----------------
body {
  font-family: $mainFonts;
}

// -------------- NAV -----------------
nav {
  background-color: $darkblue;
  width: 100%;
  position: fixed;

  #logo {
    float: left;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: $navHeight/2;
    padding-top: $topPadding - 9px;
    display: block;
  }

  .mainNav {
      max-width: $maxWidth;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      overflow: hidden;
  }

  ul {
    float: right;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    text-align: center;
    padding: $topPadding $sidePadding;
    text-decoration: none;
    color: white;
  }

  li a:hover, .current {
    background-color: $selected-darkblue;
    color: white;
  }

}

// -------------- HEADINGS -----------------

h1, h2 {
  text-align: center;
  font-weight: bold;
  color: $darkblue;
}

h1 {
  font-size: 3.5em;
  padding: $paragraphBottomPad * 2 0;
}

h2 {
  font-size: 2em;
  padding-bottom: $paragraphBottomPad * 1.5;
  margin-top: $paragraphBottomPad * 1.5;
}

// #-link trick from https://css-tricks.com/hash-tag-links-padding/ (h2 can't have top padding, otherwise it won't work)
h2::before {
  display: block;
  content: " ";

  margin-top: -$navHeight - $paragraphBottomPad;
  height: $navHeight + $paragraphBottomPad;

  visibility: hidden;
}

h3 {
  font-size: 1.5em;
  padding-bottom: $paragraphBottomPad;
  font-weight: bold;
  color: $darkblue;
}

h6 {
  font-style: italic;
  text-align: center;
  padding: $paragraphBottomPad 0;
}


// -------------- CONTENT -----------------

.mainContent {
  padding: $navHeight 0;
  max-width: $maxWidth;
  width: 90%;

  margin-left: auto;
  margin-right: auto;

  padding-left: $sidePadding;
  padding-right: $sidePadding;
}

a {
  color: $linkblue;
}

a:hover {
  color: red;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

p {
  padding-bottom: $paragraphBottomPad;
  line-height: $lineHeight;
}

.ulStandard {
  line-height: $lineHeight;
  list-style-type: disc;
  list-style-position: outside;
  padding-bottom: $paragraphBottomPad;
  padding-left: $sidePadding;
}

img.centered {
    display: block;
    margin: 0 auto;
}

.code {
  font-family: $codeFonts;
  color: $selected-darkblue;
}

// -------------- HTB -----------------

.ulHTB {
  a {
    text-decoration: none;
    display: inline;
    text-align: center;
    width: 16%;
    padding: 2*$paragraphBottomPad 2%;
    height: 150px;
    float: left;

    font-size: 1.2em;
  }

  a img {
    max-height: 100%;
    max-width: 100%;
    padding-bottom: 0.25em;
    opacity: 0.8;
  }

  a:hover img {
    opacity: 1;
    font-weight: bold;
  }
}

.htbCard {
  display: block;
  margin: $paragraphBottomPad auto 2*$paragraphBottomPad auto;
  max-width: 470px;
  width: 100%;
  height: 100%;

  border-radius: $borderradius;
}

.htbToC {
  max-width: 470px;
  width: 80%;

  border-style: solid;
  border-width: 2px;
  border-color: $darkblue;
  border-radius: $borderradius;

  margin: 0 auto;

  a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;

    display: inline-block;
    padding: $topPadding/2 0;
    width: 100%;

    text-align: center;
  }

  a:hover {
    background-color: $selected-darkblue;
    color: white;
  }

}

$htbToCFloatAnimate: transform ease 0.6s;

#htbToC-Float {
  width: 200px;
  position: fixed;
  left: 0;
  top: 50%;
  transform: translate(-110%, -50%);

  -webkit-transition: $htbToCFloatAnimate;
	-moz-transition: $htbToCFloatAnimate;
	-o-transition: $htbToCFloatAnimate;
	transition: $htbToCFloatAnimate;

  ul {
    @extend .htbToC;
    width: 100%;
    border-width: 2px 2px 2px 0;
    border-radius: 0 $borderradius $borderradius 0;
  }

  span {
    font-size: 1.2em;
    padding-bottom: 2px;
    display: block;
    text-align: center;
    width: 100%;
    font-weight: bold;
  }

  .currentPos {
    background-color: $selected-darkblue;
    color: white;
  }

}

.htbTwoColumn {
  width: auto;

  border-collapse: separate;
  border-style: solid;
  border-width: 2px;
  border-color: $darkblue;
  border-radius: $borderradius;
  overflow: hidden;
  line-height: 1.2em;

  margin: 0 auto 2*$paragraphBottomPad auto;

  th, td {
    padding: $paragraphBottomPad $paragraphBottomPad/2;
  }

  th {
    font-weight: bold;
    text-align: left;
  }

  td:first-child {
    font-weight: bold;
    width: 25%;
  }

  td:nth-child(2) {
    width: auto;
    width: 80%;
  }
}

.htbTool {
  font-weight: bold;
  color: $selected-darkblue;
}

.htbImage {
  width: 100%;
  margin: $paragraphBottomPad 0 2*$paragraphBottomPad 0;

  img {
    display: block;
    margin: 0 auto $paragraphBottomPad/2 auto;
    max-width: 100%;

    border-style: solid;
    border-width: 2px;
    border-color: $darkblue;
    border-radius: $borderradius;
  }

  span {
    display: block;
    width: 100%;
    font-style: italic;
    text-align: center;
  }
}
